* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins', 'sans-serif';
}

#main {
    overflow: hidden;
    background-color: #101010;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #101010;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background-color: black;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.1s ease;
}

.logo:hover {
    transform: scale(1.3);
    letter-spacing: 1px;
    /* add spacing in logo */
    color: #b74b4b;
    font-weight: bolder;
}

.navbar-items a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar-items a:hover,
.navbar-items a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

#intro {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.intro-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #b74b4b;
}

.intro-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.intro-content p {
    font-size: 1.6rem;
}

.intro-img {
    border-radius: 50%;
}

.intro-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.intro-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.hirebutton :hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.h3 {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.h3 span {
    position: relative;
}

.h3 span::before {
    content: "Software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}


.h3 span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}


/* about */


#about {
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 25vw;
    border-radius: 15%;
}

.about-content h2 {
    text-align: center;
    font-size: 4vw;
    text-align: left;
    line-height: 1.2;
}


.about-content h3 {
    font-size: 2vw;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;

}

.mail {
    font-size: 2rem;
}

.readmore {
    margin-top: 2%;
}

/* My Education */

/* #education {
    padding-top: 2%;
    background-color: black;
} */

#education h2 {
    margin-bottom: 5rem;
}

h2 {
    font-size: 5vw;
    text-align: center;
}

.education-container {
    display: grid;
    grid-template-columns: repeat(2);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
    /* background-color: blue; */
}

.education-container .education-box {
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    transition: .5s ease;

}

.education-container .education-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.education-box h2 {
    padding-top: 2%;
}

.education-box h3 {
    font-size: 5rem;
    padding: 1%;
}

.education-box p {
    font-size: 500%;
}

.education-box img {
    border-radius: 5%;
    border: 10px solid white;
    width: 20%;
}

.education-container h4 {
    color: beige;
    font-size: 300%;
}

#education h2 {
    font-size: 5vw;
}

.edubutton .btn {
    margin-top: 2%;
}

/* SKills */

#skills h2 {
    text-align: center;
    font-size: 3vw;
    padding-top: 4rem;
    text-align: center;
}

#content {
    color: #101010;
}

#skills {
    background: white;
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(3);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 3rem 10%;
}

#skills h2 {
    font-size: 4rem;
    padding-top: 3rem;
    text-align: center;
}

.subheading,
.subheading2 {
    margin: 2rem 0;
    font-size: 1.8vw;
}

.subheading2 {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    /* Adjust margin if needed */
}

.backend {
    font-size: 2rem;
}

.skills-container,
.skills-container2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.skills-container2 {
    width: 65%;
    justify-content: space-around;
}

.skill-box,
.skill-box2 {
    flex-direction: column;
    background: black;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 12vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-box img,
.skill-box2 img {
    max-width: 100%;
    max-height: 60%;
    border-radius: 10%;
}

.skill-box p,
.skill-box2 p {
    text-transform: uppercase;
    /* letter-spacing:1.2px; */
    margin-top: 4vh;
    font-size: 1.2vw;
}

.hover-effect:hover,
.hover-effect2:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skills i {
    color: #101010;
}

.skills h2 {
    color: #101010;
}

.subheading2 h3 {
    color: purple;
}

/* Skills Ended */

/* Projects started */
#projects{
    height: 70vh;
}
.pro {
    text-align: center;
    font-size: 5rem;
    padding-top: 3%;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    padding-top: 2%;
    /* Optional: Add some space between the grid items */
}

.projects-container img {
    width: 50vw;
    height: 90%;
    border-radius: 10%;
}

.skill-box2 {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items inside skill-box */
    text-align: center;
}

/* Contact Section starts */

#contact {
    background: #e5ecfb;
    justify-content: center;
    padding-left: 25%;
}

.heading {
    padding-top: 2%;
    text-align: center;
    padding-right: 23vw;
    font-size: 3vw;
    color: black;

}

.heading i {
    margin-right: 1vw;
}

.heading span {
    display: inline-block;
}

.container-main {
    padding-top: 2%;
    height: 80vh;
}

.container {
    width: 70%;

    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
}

.image-box {
    padding-left: 2%;

}

.image-box img {
    width: 100%;
    height: 50vh;
}

#contact-form {
    width: 45%;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group .field {
    height: 7vh;
    display: flex;
    position: relative;
    margin: 1rem;
    width: 100%;
}

form i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: rgb(51, 51, 51);
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .field input,
form .message textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 16px 0 48px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    background: #e5ecfb;
}

.field input::placeholder,
.message textarea::placeholder {
    color: rgb(51, 51, 51);
}

.field input:focus,
.message textarea:focus {
    padding-left: 47px;
    border: 2px solid rgb(115, 3, 167);
}

.field input:focus~i,
.message textarea:focus~i {
    color: rgb(115, 3, 167);
}

form .message {
    position: relative;
    margin: 1rem;
    width: 100%;
}

form .message i {
    top: 25px;
    font-size: 20px;
    left: 15px;
}

form .message textarea {
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 12px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
    width: 0px;
}

form .button-area {
    display: flex;
    float: right;
    flex-direction: row-reverse;
}

.button-area button {
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    transition: 0.3s ease;
    font-family: "Nunito", sans-serif;
}

.button-area button:hover {
    background: #421cecf5;
}

.button-area span {
    font-size: 17px;
    padding: 1rem;
    display: none;
}

.button-area button i {
    position: relative;
    top: 6px;
    left: 2px;
    font-size: 1.5rem;
    transition: 0.3s;
    color: #fff;
}

.button-area button:hover i {
    left: 8px;
}

#footer {
 padding: 1.2%;
    width: 100%;
    background-color: black;
}

.footer-content h2 {
    font-size: 1.5vw;
}