@keyframes cursor {
    to {
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words {

    0%,
    20% {
        content: "Web Developer";
    }

    21%,
    40% {
        content: "Software Developer";
    }

    41%,
    60% {
        content: "Web Designer";
    }

    61%,
    80% {
        content: "Intern";
    }

    81%,
    100% {
        content: "Student";
    }
}

@media only screen and (max-width:600px) {

    .navbar .menu {
        display: none;
        background-color: #b74b4b69;
        backdrop-filter: blur(10px);
        flex-direction: column;
        width: 100%;
        height: 95vh;
        z-index: 1000;
        margin-top: 10vh;
    }

    .navbar .menu.active {
        display: flex;
    }

    #nav-links {
        left: 0;
    }

    .bar {
        display: block;
        font-size: 5vw;
        padding-top: 5vh;
        cursor: pointer;
    }

    .menu a {
        font-size: 8vw;

    }

    .intro-content {
        padding-top: 10%;
    }

    .intro-content h1 {
        font-size: 6vw;
    }

    .intro-content .h3 {
        font-size: 4.5vw;
    }

    .social-icons {
        display: flex;
    }


    section {
        padding: 0 9%;
    }

    #about {
        flex-direction: column;
    }

    #about .about-content h3 {
        font-size: 2.5rem;
    }

    .about-content h1 {
        font-size: 5rem;
    }

    .intro-img img {
        display: none;
    }

    #education h2 {
        font-size: 8vw;
    }

    .about-img img {
        width: 100%;
    }

    .about-content h2 {
        font-size: 8vw;
        text-align: center;
    }

    .about-content h3 {
        font-size: 6vw;
        text-align: center;
    }

    .about-content h4 {
        font-size: 4.5vw;
    }

    .education-box img {
        width: 100%;
        border: 2px solid #b74b4b;
    }

    #education {
        padding-top: 5vh;
    }

    .education-container .education-box {
        padding-bottom: 5vh;
    }

    .education-box p,
    .education-box h4 {
        font-size: 4.5vw;
    }

    #skills {
        height: 190vh;
    }

    .skills-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .skills-container2 {
        display: grid;
        width: 70vw;
        /* height: 30vh; */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .skill-box {
        width: 90%;
        margin-top: 10%;
    }

    .skill-box p {
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        /* letter-spacing:1.2px; */
        margin-top: 2vh;
        font-size: 3.5vw;
    }

    .subheading2 {
        margin: 0;
        font-size: 3.5vh;
    }

    .skills-container {
        width: 100;
    }

    #projects {
        height: 110vh;
    }

    #projects h2 {
        font-size: 10vw;
    }

    .skill-box2 {
        height: 30vh;
        width: 70vw;
        background-color: #f0f0f0;
        padding: 10px;
    }

    .skill-box2 p {
        text-transform: uppercase;
        margin-top: 2vh;
        font-size: 4vw;
        color: black;
    }

    .projects-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    #contact {
        padding-top: 15%;
    }

    .heading {
        font-size: 7vw;
    }

    .container-main {
        margin-left: -20%;
        padding-top: 20%;
        width: 155%;
        padding-bottom: 80vh;
    }

    .content {
        width: 200%;
        padding-left: 5%;

    }

    .image-box {
        display: none;

    }

    .footer-content h2 {
        font-size: 5vw;
        padding: 2vh;
    }

}